body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


ul {
    font-style: normal;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    clip-path: inset(100%);
}

/* common */

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;   }
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

        .nav-link.current {
            position: relative;
            color: #404bbf;
        }

    .nav-link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        transform: scaleX(1);
        transform-origin: left;   
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link.current {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

.contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
} 
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}
.menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:hover,
.menu-close:focus {
    background-color: #404bbf;
    border: none;
}

.menu-close-icon {
    width: 8px;
    height: 8px;
    fill: #999;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:hover .menu-icon,
.menu-close:focus .menu-icon {
    fill: #ffffff;
}

.mobile-menu-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.mobile-menu-nav-link.active {
    color: #404bbf;
}

.mobile-menu-nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu-nav-link.active {
    position: relative;
    color: #404bbf;
    font-weight: 700;
}

/* Підкреслення тільки для активного посилання */
.mobile-menu-nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transform: scaleX(1);
    transform-origin: left;
}

.contact-address-menu {
    font-style: normal;
}

.contact-list-menu {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-link-menu {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}

.contact-link-menu:hover,
.contact-link-menu:focus {
    color: #404bbf;
}



@media screen and (min-width: 768px) {
.mobile-menu {
    display: none;
    } 
}


/* === СЕКЦІЯ HERO === */

.hero-section {
    position: relative;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 72px 0;
    text-align: center;
    overflow: hidden;
}
.hero-section .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-title {
    font-size: 56px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 72px;
    margin-left: 52px;
    margin-right: 52px;
    max-width: 496px;
    text-align: center;
    font-weight: 700;
}
.main-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
.hero-section {
    padding: 112px 0;
}
.hero-section .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}



/* features */

.features-section {
    padding-top: 96px;
    padding-bottom: 0;
    background-color: #ffffff;
    color: #2e2f42;
}
.feature-heading {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}
.feature-text {
    font-family: var(--font-family);
    letter-spacing: 0.02em;
    color: var(--slate);
    padding-bottom: 72px;
}
.features-list {
    margin-bottom: -72px;
}
.feature-icon-box {
    display: none;
}
.feature-icon-box svg {
    display: none;
}

@media screen and (min-width: 768px) {
.features-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 24px;
    list-style: none;
    padding: 0;
}
.feature-heading {
    margin-bottom: 8px;
    text-align: left;
}
.feature-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}
.feature-icon-box {
    display: none;
}

.feature-icon-box svg {
    display: none;
}
}

@media screen and (min-width: 1158px) {
.features-section {
    padding: 120px 0;
}
.features-list {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
}
.features-item {
    width: calc((100% - 72px) / 4);
    text-align: left;
}
.feature-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.feature-icon-box svg {
    width: 64px;
    height: 64px;
    fill: currentColor;
}
.feature-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}
.feature-text {
    font-size: 16px;
    line-height: 1.5;
}
}

/* Секция команды */

.team-section {
    padding-top: 96px;
    margin-top: 96px;
    background-color: #f4f4fd;
    text-align: center;
}
.team-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 72px;
}
.team-list {
    display: inline-grid;
    margin-bottom: 24px;
}
.team-card {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 72px) / 4);
    text-align: center;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
    margin-bottom: 72px;
}

.card-content {
    padding-left: 16px;
    padding-bottom: 32px;
    padding-right: 16px;
    padding-top: 32px;
}
.card-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.card-position {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
    padding-left: 0;
    margin: 0;
    width: 232px;
    height: 40px;
}
.social-item {
    width: 40px;
    height: 40px;
}
.social-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
    outline: none;
}

.social-icon {
    fill: #f4f4fd;
}


@media screen and (min-width: 768px) {
.team-list {
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    gap: 24px;
}
}

@media screen and (min-width: 1158px) {
.team-section {
    padding: 120px 0; 
    margin-top: 0;
}
.team-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 24px;
}
.card-content {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}
.team-card {
    margin-bottom: 0;
}
}


/* portfolio section */

.portfolio-section {
    margin-bottom: 96px;
    background-color: #ffffff;
}
.section-title {
    font-size: 36px;
    color: var(--navy-blue);
    text-align: center;
    margin-bottom: 72px;
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-top: 96px;
}
.project-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    align-items: center;
}
.project-card {
    width: 100%;
    max-width: 360px;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 48px;
}
.project-card:hover {
    box-shadow:
        0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
    background: var(--white);
}
.image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}
.image-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--image-text-color, #f4f4fd);
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
    box-sizing: border-box;
}
.project-card:hover .image-text {
    transform: translateY(0%);
}
.card-content-portfolio {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding-left: 16px;
    padding-bottom: 32px;
    padding-right: 16px;
    padding-top: 32px;
}

.card-title {
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 8px;
}
.card-text {
    font-size: 16px;
    color: var(--slate);
}

@media screen and (min-width: 768px) {
.project-list {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 72px 24px;   
}
.project-card {
    width: 356px;
    height: 420px;
}
.card-content-block {
    width: 356px;
    height: 120px;
}

}

@media screen and (min-width: 1158px) {

.project-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.project-card {
    width: calc((100% - 48px) / 3);
    padding: 0;
    margin: 0;
}
.image-wrapper {
    display: block;
}
}

/* footer */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
    color: var(--white-color, #ffffff);
}

.footer-container {
    align-items: baseline;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.text-light {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);
    margin-top: 16px;
}

.footer-social {
    text-align: center;
    padding-left: 24px;
}

.footer-logo-wrapper {
    display: flex;
    justify-content: center;
}

.logo {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio-white {
    color: var(--white-color, #ffffff);
}

.text-light {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color, #ffffff);
    max-width: 264px;
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color, #ffffff);
    margin-bottom: 16px;
    text-align: center;
}

.social-list {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link-it {
    width: 100%;
    height: 100%;
    background-color: var(--blue-color, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--white-color, #ffffff);
    text-decoration: none;
}

.social-link-it:hover,
.social-link-it:focus {
    background-color: #31d0aa;
    outline: none;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #5d5d5d;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    font-family: inherit;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.subscribe-icon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.input-group {
    margin-bottom: 8px;
}

.div-class-it {
    margin-bottom: 16px;
}

input[type="checkbox"]:checked+.custom-checkbox .checkbox-box {
    background-color: var(--active-bg-color);
    border: none;
    fill: var(--active-icon-color);
}

:root {
    --active-bg-color: #404bbf;
    --active-icon-color: #F4F4FD;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #212121;
}
@media screen and (min-width: 768px) {
.footer {
    padding: 96px 0;   
}
.footer-container {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    padding: 0 16px;
}
.footer-info {
    max-width: 264px;
    margin-left: 92px;
}
.text-light {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--cloud);
    margin-top: 16px;
}
.footer-social {
    margin-left: -262px;
}
.social-title {
    text-align: left;
}
.footer-subscribe {
    max-width: 453px;
    margin-left: 92px;
}
.subscribe-form {
    flex-direction: row;
}
.subscribe-button {
    margin-left: 6px;
}

}
@media screen and (min-width: 1158px) {
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    color: var(--white-color, #ffffff);
}

.footer-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.footer-info {
    margin-left: 156px;
}

.logo {
    display: inline-block;
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio-white {
    color: var(--white-color, #ffffff);
}

.text-light {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color, #ffffff);
    max-width: 264px;
}


.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color, #ffffff);
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link-it {
    width: 100%;
    height: 100%;
    background-color: var(--blue-color, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--white-color, #ffffff);
    text-decoration: none;
}

.social-link-it:hover,
.social-link-it:focus {
    background-color: #31d0aa;
    outline: none;
}

.subscribe-form {
    display: flex;
    gap: 24px;
    align-items: center;
}


.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    font-family: inherit;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.subscribe-icon {
    width: 24px;
    height: 24px;
    margin-left: 16px; 
}


.input-group {
    margin-bottom: 8px;
}

.div-class-it {
    margin-bottom: 16px;
}

input[type="checkbox"]:checked+.custom-checkbox .checkbox-box {
    background-color: var(--active-bg-color);
    border: none;
    fill: var(--active-icon-color);
}

:root {
    --active-bg-color: #404bbf;
    --active-icon-color: #F4F4FD;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto',sans-serif;
    line-height: 1.5;
    color: #212121;
}
}